<ion-content [fullscreen]="true">
 <div class="container-fluid d-flex flex-column p-3 justify-content-between h-100">
    <div>
      <ion-title class="text-center fw-bolder">CHARADA</ion-title>

      <ion-card>
        <ion-card-header>
          <ion-card-title class="fw-bolder" *ngIf="charade" >{{charade[0].pergunta}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <h2 class="fw-bold">{{answer}}</h2>
        </ion-card-content>
      </ion-card>
    </div>

    <div class="d-flex flex-column gap-2">
      <ion-button expand="block" [disabled]="answer.length > 0" (click)="canShowAnswer()" color="danger" >Revelar resposta</ion-button>
      <ion-button expand="block" (click)="requestCharade()" >Nova charada</ion-button>
    </div>
 </div>
</ion-content>
