ion-content {
 --background: url('../../assets/punctuation-gc3e4aa8cf_640.jpg');
}

.animated-button {
  animation: jumping 1s ease-in-out infinite;
}

@keyframes jumping {
  0% {
    transform: translateY(-5px);
  }

  50%{
    transform: translateY(5px);
  }

  100%{
    transform: translateY(-5px);
  }
}

.card {
  border: 1px solid black;
  border-radius: 1rem;

  transform: rotateY(-180deg);

  background-color: #ccc;
  transition:.3s ease-in-out;
}

.front {
  transform: rotateY(0deg);
}
